<head>
    <link rel="stylesheet" type="text/css" href="/static/user_area.css">
</head>
   <a href="http://localhost:8080/perfil">
        <img src="static/img/perfil1.png" class="img-profile" type="button">
        <p class="nome-user"><%=user.nome %><%=user.sobrenome %></p>
    </a>
    <p class="info-user"><%=user.cargo %>, <%=user.instituicao %>, <%=user.cidade %></p>