<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/editar_perfil.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
            </div> <!--FIM MENU ESQUERDO-->
        
            <div class="col-md-6-feed"> <!--INICIO FEED-->
                <div class="info-user-area-edit">
                    <form action="/atualizar-perfil" method="post">
                        <div class="row">
                            <img src="static/img/upload.png" class="img-profile" type="button">
                            <label for="imagemPhoto"><img src="static/img/mais_icone.png" id="imgPhoto"></label>
                            <input type="file" id="avatar-profile" name="img-profile" accept="image/*">
                        </div>
                        <div class="menu-info-user">
                            <div class="row">
                                <div class="col-md-7">
                                    <p>Nome: </p><input class="nome-user-edit" type="text" name="nome" value= <%=cadastros.nome %>>
                                </div>
                                <div class="col-md-5">
                                    <p>Sobrenome: </p><input class="info-user-edit" type="text" name="sobrenome" value=  <%=cadastros.sobrenome %>>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3">
                                        <p>Data de Nascimento: </p>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="info-user-edit" type="text" name="dianascimento" value= <%=cadastros.dianascimento %>>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="info-user-edit" type="text" name="mesnascimento" value= <%=cadastros.mesnascimento %>>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="info-user-edit" type="text" name="anonascimento" value= <%=cadastros.anonascimento %>>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Estado: </p><input class="info-user-edit" type="text" name="estado" value= <%=cadastros.estado %>>
                                </div>
                                <div class="col-md-6">
                                    <p>Cidade: </p><input class="info-user-edit" type="text" name="cidade" value= <%=cadastros.cidade%>>
                                </div>
                            </div>
                        </div>
                        <div class="menu-educacao">
                        <h5>Educação</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Escolaridade: </p><input class="info-user-edit" type="text" name="escolaridade" value= <%=cadastros.escolaridade %>>
                                </div>
                                <div class="col-md-6">
                                    <p>Instituição: </p><input class="info-user-edit" type="text" name="instituicao" value= <%=cadastros.instituicao %>>
                                </div>
                            </div>
                        </div>
                        <div class="menu-work">
                            <h5>Trabalho</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Empresa: </p><input class="info-user-edit" type="text" name="empresa" value= <%=cadastros.empresa %>>
                                </div>
                                <div class="col-md-6">
                                    <p>Cargo Atual: </p><input class="info-user-edit" type="text" name="cargo" value= <%=cadastros.cargo %>>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6-botoes">
                            <input class="botaoredefinir" type="submit" value="Salvar">
                        </div>
                </form>
                    <div class="col-md-6-botoes">
                        <form action="/logoff" method="post">  
                            <input class="botaovoltar" type="button" value="Voltar">
                        </form>
                    </div>
                </div>
            </div> <!--FIM FEED-->


            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO--> 
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
