<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Inicio - Include</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    
</head>
<body>
    
	<%- include('./partials/menu'); %>
       <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                <%- include('./partials/user_area'); %>
                <%- include('./partials/button_side'); %>
            </div><!--FIM MENU ESQUERDO-->
            <div class="col-md-6-feed"> <!--INICIO FEED-->
              <div class="head-feed">
                    <%- include('./partials/create_publication'); %>
                    <div class="feed-updates-zone">
                        <!--feed de noticias -->
                    </div>
              </div>
            </div> <!--FIM FEED-->
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
                <%- include('./partials/friends_zone'); %>  
            </div><!--FIM MENU DIREITO-->
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
    var tokenback= '<%=tokenregi%>';
    localStorage.setItem('tokenlogin', tokenback);
</script>
</body>
</html>
